<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="head">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="" rel="icon">
        <link rel="stylesheet" th:href="@{/css/icon.css}"/>
        <link rel="stylesheet" th:href="@{/css/materialize.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </div>
</head>
<body>

<header th:fragment="nav-gerente">
    <div>
        <nav class="nav-fixed">
            <div class="nav-wrapper">
                <a class="brand-logo" href="/">Logo</a>
                <a class="sidenav-trigger" data-target="mobile-demo-g" href="#"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a th:href="@{/prato/listar_gerente}">Pratos</a></li>
                    <li><a th:href="@{/cliente/listar}">Clientes</a></li>
                    <li><a th:href="@{/pedido/listar_pendente}">Pedidos</a></li>
                </ul>
            </div>

        </nav>

        <ul class="sidenav" id="mobile-demo-g">
            <li><a th:href="@{/prato/listar_gerente}">Pratos</a></li>
            <li><a th:href="@{/cliente/listar}">Clientes</a></li>
            <li><a th:href="@{/pedido/listar_pendente}">Pedidos</a></li>
        </ul>

    </div>

</header>

<header th:fragment="nav-cliente">
    <div>
        <nav class="nav-fixed">
            <div class="nav-wrapper">
                <a class="brand-logo" href="/">Logo</a>
                <a class="sidenav-trigger" data-target="mobile-demo-c" href="#"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a th:href="@{/prato/listar_cliente}">Pratos</a></li>
                    <li><a th:href="@{/pedido/selecionados}">Carrinho</a></li>
                    <li><a th:href="@{/pedido/listar/{id}(id = ${1})}">Pedidos</a></li>
                    <li><a th:href="@{/cliente/atualizar/{id}(id = ${1})}">Conta</a></li>
                    <li><a th:href="@{/cliente/cadastrar}">Cadastrar</a></li>
                </ul>
            </div>

        </nav>

        <ul class="sidenav" id="mobile-demo-c">
            <li><a th:href="@{/prato/listar_cliente}">Pratos</a></li>
            <li><a th:href="@{/pedido/selecionados}">Carrinho</a></li>
            <li><a th:href="@{/pedido/listar/{id}(id = ${1})}">Pedidos</a></li>
            <li><a th:href="@{/cliente/atualizar/{id}(id = ${1})}">Conta</a></li>
            <li><a th:href="@{/cliente/cadastrar}">Cadastrar</a></li>
        </ul>

    </div>

</header>

<div th:fragment="script">
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.mask.min.js}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav')._sidenavs();
        });
    </script>
</div>

</body>
</html>
