<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="head">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="">
        <link th:href="@{/css/icon.css}" rel="stylesheet"/>
        <link th:href="@{/css/materialize.min.css}" rel="stylesheet"/>
    </div>
</head>
<body>

    <div th:fragment="nav">

        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a th:href="@{/prato/listar}">Pratos</a></li>
                    <li><a th:href="@{/cliente/listar}">Clientes</a></li>
                    <li><a th:href="@{/carrinho/selecionados}">Carrinho</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a th:href="@{/prato/listar}">Pratos</a></li>
                    <li><a th:href="@{/cliente/listar}">Clientes</a></li>
                    <li><a th:href="@{/carrinho/selecionados}">Carrinho</a></li>
                </ul>
            </div>

        </nav>


    </div>

    <div th:fragment="script">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/materialize.min.js}"></script>
        <script th:src="@{/js/jquery.mask.min.js}"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
    </div>

</body>
</html>