<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/css/icon.css}" rel="stylesheet"/>
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet"/>
</head>
<body>

<nav class="nav-fixed">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo-g" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/prato/listar_gerente}">Gerente</a></li>
            <li><a th:href="@{/prato/listar_cliente}">Clientes</a></li>
        </ul>
    </div>
</nav>

<script th:src="@{/js/materialize.min.js}"></script>

</body>
</html>
