<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Listar Clientes</title>
    <div th:replace="fragments/index :: head"></div>
</head>
<body>

<div th:replace="fragments/index :: nav"></div>

<table class="striped centered">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Data Nascimento</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente: ${listaClientes}">
        <th scope="row" th:text="${cliente.id}"></th>
        <td th:text="${cliente.nome}"></td>
        <td th:text="${cliente.cpf}"></td>
        <td th:text="${{cliente.dataNascimento}}"></td>
        <td th:text="${cliente.cpf}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.senha}"></td>
        <td> <a th:href="@{/cliente/excluir/{id}(id = ${cliente.id})}">
            <button type="button" class="btn">Excluir <i class="medium material-icons">delete</i></button></a>
        </td>
        <td> <a th:href="@{/cliente/atualizar/{id}(id = ${cliente.id})}">
            <button type="button" class="btn">Atualizar <i class="medium material-icons">update</i></button></a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/cliente/cadastrar}"><button type="button" class="btn">Cadastrar <i class="medium material-icons">add_circle</i></button></a>

<div th:replace="fragments/index :: head"></div>

</body>
</html>
